<div class="bg-white dark:bg-gray-800 shadow-md rounded-lg p-6">
    <h2 class="text-2xl font-bold mb-4 dark:text-white">Gérer les entités</h2>
    <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-4">
        <a
                href="{{ path('app_clothing_item_index') }}"
                class="bg-green-100 dark:bg-green-900 block rounded shadow p-4 hover:bg-green-200 dark:hover:bg-green-800 transition-colors duration-200"
        >
            <h2 class="text-lg font-semibold mb-2 dark:text-white">Clothing Items</h2>
        </a>
        <a
                href="{{ path('app_outfit_index') }}"
                class="bg-green-100 dark:bg-green-900 block rounded shadow p-4 hover:bg-green-200 dark:hover:bg-green-800 transition-colors duration-200"
        >
            <h2 class="text-lg font-semibold mb-2 dark:text-white">Outfits</h2>
        </a>
        <a
                href="{{ path('app_like_index') }}"
                class="bg-green-100 dark:bg-green-900 block rounded shadow p-4 hover:bg-green-200 dark:hover:bg-green-800 transition-colors duration-200"
        >
            <h2 class="text-lg font-semibold mb-2 dark:text-white">Likes</h2>
        </a>
        <a
                href="{{ path('app_review_index') }}"
                class="bg-green-100 dark:bg-green-900 block rounded shadow p-4 hover:bg-green-200 dark:hover:bg-green-800 transition-colors duration-200"
        >
            <h2 class="text-lg font-semibold mb-2 dark:text-white">Reviews</h2>
        </a>
        <a
                href="{{ path('app_category_item_index') }}"
                class="bg-green-100 dark:bg-green-900 block rounded shadow p-4 hover:bg-green-200 dark:hover:bg-green-800 transition-colors duration-200"
        >
            <h2 class="text-lg font-semibold mb-2 dark:text-white">Category Item</h2>
        </a>
        <a
                href="{{ path('app_wardrobe_index') }}"
                class="bg-green-100 dark:bg-green-900 block rounded shadow p-4 hover:bg-green-200 dark:hover:bg-green-800 transition-colors duration-200"
        >
            <h2 class="text-lg font-semibold mb-2 dark:text-white">Wardrobe</h2>
        </a>
    </div>
</div>