<div class="block bg-white p-6 rounded-2xl shadow-md hover:shadow-lg transition duration-200">
    <div class="flex items-center space-x-4 mb-4">
        <img src="{{ asset('/uploads/avatars/' ~ outfit.author.profile.avatar) }}" alt="Avatar" class="w-12 h-12 rounded-full border-primary-600 border-4">
        <div>
            <h2 class="font-bold text-primary-600">{{ outfit.author.username }}</h2>
            <p class="text-sm text-gray-500">Posté le {{ outfit.createdAt|date('d/m/Y') }}</p>
        </div>
    </div>
    <p class="mb-4">{{ outfit.name }}</p>
    <p class="mb-4">{{ outfit.description }}</p>
    <a href="{{ path('outfit_details', {'id': outfit.id}) }}" class="block">
        {% if outfit.images|length > 0 %}
            <img src="{{ outfit.images[0] }}" alt="Image Outfit" class="rounded-lg w-full">
        {% endif %}
    </a>

    <div class="mt-4 flex justify-between items-center text-gray-500 text-sm">
        {% include 'components/like_button.html.twig' with {
            'outfit': outfit,
            'likesCount': outfit.likesCount
        } %}
        
        <a href="{{ path('outfit_details', {'id': outfit.id}) }}" class="p-2 hover:text-gray-700 transition-colors">
            💬 {{ outfit.reviews|length }} Commentaires
        </a>
    </div>
</div>
