{% extends 'base.html.twig' %}

{% block title %}Mon Profil{% endblock %}

{% block body %}
    <h2 class="title-text">
        Informations personnelles
        <span class="title-underline"></span>
    </h2>
    <div class="flex justify-center py-12 md:px-4 sm:px-6 lg:px-8">
        <div class="max-w-lg w-full px-4 lg:px-8 rounded-2xl bg-white shadow-lg p-8">

            <div>
                <h2 class="mt-6 text-center text-3xl font-extrabold text-gray-900">
                    Modifier vos informations personnelles
                </h2>
            </div>


            <div class="space-y-6 mt-8">
                <div class="flex flex-col items-center">
                    {{ form_start(form, { 'attr': {'class': 'mt-8 space-y-6 w-full'} }) }}
                    <div>
                        {{ form_label(form.firstname, 'Prénom', {'label_attr': {'class': 'form-label'}}) }}
                        {{ form_widget(form.firstname, {
                            'attr': {
                                'class': 'form-area w-full',
                                'placeholder': 'Prénom'
                            }
                        }) }}

                    </div>
                    <div>
                        {{ form_label(form.lastname, 'Nom', {'label_attr': {'class': 'form-label'}}) }}
                        {{ form_widget(form.lastname, {
                            'attr': {
                                'class': 'form-area w-full',
                                'placeholder': 'Nom'
                            }
                        }) }}
                    </div>
                    <div>
                        {{ form_label(form.username, 'Nom d\'utilisateur', {'label_attr': {'class': 'form-label'}}) }}
                        {{ form_widget(form.username, {
                            'attr': {
                                'class': 'form-area w-full',
                                'placeholder': 'Nom d\'utilisateur'
                            }
                        }) }}
                    </div>
                    <div>
                        {{ form_label(form.plainPassword, 'Mot de passe', {'label_attr': {'class': 'form-label'}}) }}
                        {{ form_widget(form.plainPassword, {
                            'attr': {
                                'class': 'form-area w-full',
                                'placeholder': 'Mot de passe'
                            }
                        }) }}

                    </div>
                </div>
            </div>

        <button type="submit"
                class="form-button__primary">
            Enregistrer
        </button>
        {{ form_end(form) }}
        </div>
    </div>
{% endblock %}
